@tailwind base;
@tailwind components;

.text-strava {
  color: #fc4c02;
}

.bg-strava {
  background-color: #fc4c02;
}

.markdown {
  & > * + * {
    @apply mt-6;
  }
  /* & li + li,
  & li > p + p {
  } */

  h2 {
    @apply text-2xl font-semibold;
  }

  a {
    @apply text-indigo-400 underline duration-100 transition font-semibold;
  }

  a:hover {
    @apply text-indigo-600;
  }
}

@tailwind utilities;
