<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ meta.title }}</title>
  <link rel="stylesheet" href="/assets/index.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body class='text-gray-900 leading-normal bg-gray-100'>
  <nav class='fixed left-0 h-full w-32 bg-white shadow'>
    <ul>
      {% for navItem in navigation %}
      <li>
        <a href="{{ navItem.path }}">
          {{ navItem.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <main class='w-full max-w-screen-lg mx-auto px-6 pb-24'>
    {{ content|safe }}
  </main>
</body>
</html>