{% set isFromMarkdown = '.md' in page.inputPath %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if pageMeta.title %}
      {{ pageMeta.title }} | {{ meta.title }}
    {% else %}
      {{ meta.title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="/assets/index.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body class='text-gray-900 leading-normal bg-gray-100 flex flex-col min-h-screen overflow-y-scroll'>
  {% include 'partials/navigation.njk' %}
  <main class='w-full max-w-screen-lg mx-auto px-6 pb-24 flex-grow'>
    {% if pageTitle %}
      <header class='h-48 flex items-center'>
        <h1 class='font-semibold text-4xl'>
          {{ pageTitle | safe }}
        </h1>
      </header>
    {% endif %}
    {% if isFromMarkdown %}
      <section class="bg-white shadow rounded p-8 markdown leading-relaxed">
        {{ content|safe }}
      </section>
    {% else %}
      {{ content|safe }}
    {% endif %}
  </main>
  <footer class='bg-white border-t'>
    <div class='w-full max-w-screen-lg mx-auto px-6 py-4'>
      <p class='uppercase text-xs'>
        Created with <span class='text-red-400'>♥</span> by
        <a
          target="_blank"
          class='text-indigo-400 hover:text-indigo-600 transition duration-100 underline font-semibold' 
          href='https://leogenerali.com'>
          Leo Generali
        </a>
      </p>
    </div>
  </footer>
  {% for script in scripts %}
    <script src="/assets/scripts/{{ script }}/index.js"></script>
  {% endfor %}
</body>
</html>