<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if pageMeta.title %}
      {{ pageMeta.title }} | {{ meta.title }}
    {% else %}
      {{ meta.title }}
    {% endif %}
  </title>
  <link rel="stylesheet" href="/assets/index.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body class='text-gray-900 leading-normal bg-gray-100'>
  {% include 'partials/navigation.njk' %}
  <main class='w-full max-w-screen-lg mx-auto px-6 pb-24'>
    {% if pageTitle %}
      <header class='h-48 flex items-center'>
        <h1 class='font-semibold text-4xl'>
          {{ pageTitle | safe }}
        </h1>
      </header>
    {% endif %}
    {{ content|safe }}
  </main>
</body>
</html>