{% macro wrapper(stats, timeframe='so far') %}
  <section class='grid grid-cols-4 gap-8'>
    <div class='bg-white shadow rounded p-8'>
      <p class='font-semibold text-2xl text-strava'>
        {{ stats.run.miles }}
      </p>
      <p class='text-sm uppercase font-semibold'>miles {{ timeframe }}</p>
    </div>
    <div class='bg-white shadow rounded p-8'>
      {{ stats.acuteToChronicRatio }}
    </div>
    <div class='bg-white shadow rounded p-8'>
      TK
    </div>
    <div class='bg-white shadow rounded p-8'>
      TK
    </div>
  </section>
{% endmacro %}