{% macro wrapper(stats) %}
  <section class='grid grid-cols-4 gap-8'>
    {% for stat in stats %}
      <div class='bg-white shadow rounded p-8'>
        <p class='font-semibold text-2xl text-strava'>
          {% if stat.value | isNum %}
            {{ stat.value | round(2) | safe }}
          {% else %}
            {{ stat.value | safe }}
          {% endif %}
        </p>
        <p class='text-sm uppercase font-semibold'>{{ stat.text }}</p>
      </div>
    {% endfor %}
  </section>
{% endmacro %}