---
layout: layouts/base
pagination:
  data: activities
  size: 1
  alias: activity
permalink: "activity/{{ activity.id }}/index.html"
---
{% import 'macros/stats.njk' as stats %}

{% set year = activity.date | formatDate('YYYY') %}
{% set month = activity.date | formatDate('M') %}
{% set activeMonthUrl = "/" + year + "/" + month + "/" %}

{% set activitiesInYear = activities|activitiesByYear(year) %}

{% if activity.type === 'run' %}
  {% set activityStats = 
    [
      { value: activity.miles(), text: 'miles' },
      { value: activity.timeToDisplay(), text: 'time' },
      { value: activity.pace(), text: 'pace' },
      { value: activity.workoutTypeDisplay(), text: 'type' }
    ]
  %}
{% else %}
  {% set activityStats = 
    [
      { value: activity.timeToDisplay(), text: 'time' }
    ] 
  %}
{% endif %}

<section class='h-48 flex items-center'>
  <div>
    <h1 class='font-semibold text-4xl leading-tight'>{{ activity.name }}</h1>
    <h2 class='text-indigo-400 font-semibold uppercase tracking-wider'>
      {{ activity.date | formatDate('MMMM Do, YYYY') }}
    </h2>
  </div>
</section>

{{ stats.wrapper(activityStats) }}

{# {% if activity.type === 'run' and activity.id === 3187046303 %} #}
{% if activity.type === 'run' %}
  <section class="mt-16 bg-white shadow rounded p-8">
    <h2 class='font-semibold text-xl leading-tight mb-4'>Splits</h2>
    {{ activity.lapsBarChart() | safe }}
  </section>
{% endif %}

<nav class='mt-16'>
  <p class='font-semibold text-2xl mb-8'>Back to 
    <a href="{{ activeMonthUrl }}" class='text-indigo-400 hover:text-indigo-600 transition duration-100 underline'>{{ activity.date | formatDate('MMMM') }}</a> activities
  </p>
</nav>