---
layout: layouts/base
---
{% set activitiesByWeek = activities|byWeek %}

{% for week in activitiesByWeek %}
  <div>
  <p>Week: </p>
  <p>{{ week[0]|firstOfWeek }} - {{ week[0]|endOfWeek }} </p>
  {% for activity in week|reverse %}
    <a href="activity/{{ activity.id }}">{{ activity.id }}</a>
  {% endfor %}
  </div>
{% endfor %}