---
layout: layouts/base
pagination:
  data: activityYears
  size: 1
  alias: activityYear
permalink: "{{ activityYear }}/index.html"
---
{% set activitiesInYear = activities|activitiesByYear(activityYear) %}
{% set onHomePage = activityYear === '/' %}

<section class='h-48 flex items-center'>
  {% if onHomePage %}
    <h1 class='font-semibold text-4xl'>
      Leo's <span class='color-strava'>Running Log</span> 🏃‍♂️
    </h1>
  {% else %}
    <h1 class='font-semibold text-4xl'>
      Activity from <span class='color-strava'>{{ activityYear }}</span>
    </h1>
  {% endif %}
</section>

<section class='py-8 grid grid-cols-4 gap-8'>
{% set statsOfAll = activitiesInYear.stats() %}
  <div class='bg-white shadow rounded p-8'>
    <p class='font-semibold text-2xl color-strava'>
      {{ statsOfAll.run.miles }}
    </p>
    <p class='text-sm uppercase font-semibold'>
      {% if onHomePage %}
        miles so far
      {% else %}
        miles in {{ activityYear }}
      {% endif %}
    </p>
  </div>
  <div class='bg-white shadow rounded p-8'>
    TK
  </div>
  <div class='bg-white shadow rounded p-8'>
    TK
  </div>
  <div class='bg-white shadow rounded p-8'>
    TK
  </div>
</section>

<section class='bg-white shadow rounded p-8'>
  {% for week in activitiesInYear.byWeek() %}
    <div>
      <span class='text-sm uppercase'>{{ week.weekStartAndEnd() }}</span>
    </div>
    <div class='grid grid-cols-8 gap-2 {% if not loop.last %}mb-4{% endif %}'>
    {% set stats = week.stats() %}
      <div class='col-span-1'>
        <span class='text-2xl'>
          <span class='font-semibold'>{{ stats.run.miles }}</span>
          <span class='text-sm font-light uppercase'>mi</span>
        </span>
      </div>
    </div>
  {% endfor %}
</section>