---
layout: layouts/base
pagination:
  data: activityMonthUrls
  size: 1
  alias: activityMonthUrl
permalink: "{{ activityMonthUrl }}/index.html"
---
{% import 'macros/stats.njk' as stats %}
{% import 'macros/calendar.njk' as calendar %}

{% set year = activityMonthUrl | split('/') | first %}
{% set month = activityMonthUrl | split('/') | last %}
{% set activitesInMonth = activities|activitiesByMonth(activityMonthUrl) %}
{% set activitiesInYear = activities|activitiesByYear(year) %}

<section class='h-48 flex items-center'>
  <h1 class='font-semibold text-4xl'>
    Activity from <span class='text-strava'>{{ monthMap[month].long }}</span> {{ year }}
  </h1>
</section>

{{ stats.wrapper(activitesInMonth.stats()) }}

<nav class='mt-16'>
  <h2 class='font-semibold text-2xl mb-8'>Month:</h2>
  <div class='grid grid-cols-6 gap-6'>
    {% for monthIndex in activitiesInYear.months() %}
      {% set calendarUrl = "/" + year + "/" + monthIndex + "/" %}
      <a 
        href="{{ calendarUrl }}" 
        class='
          col-span-1 bg-white p-2 shadow text-center transform duration-100 rounded
          hover:-translate-y-1 hover:shadow-lg
          {% if calendarUrl === page.url %}
            bg-indigo-400 text-white hover:bg-indigo-600
          {% else %}
            bg-white text-indigo-400 hover:text-indigo-600
          {% endif %}'
      >
        <span class='font-semibold uppercase text-sm'>{{ monthMap[monthIndex].short }}</span>
      </a>
    {% endfor %}
  </div>
</nav>

{{ calendar.key(activityKey) }}

<section class='bg-white shadow rounded p-8 mt-16'>
  {{ calendar.days(7) }}
  {{ calendar.seperator() }}
  {% set month = activitesInMonth.calendar() %}
  <div class='grid grid-cols-7 gap-2'>
    {% for day in month.calendar %}
      <div class='
        {% if loop.first %}
          col-start-{{ month.firstDayOfMonth | int  }}
        {% endif %}
        col-span-1 text-center h-32 border rounded relative overflow-hidden flex flex-col justify-center'>

        {% for activity in day %}
          {% if activity.type === 'run' %}
            {% set runColors = activity.color() %}
            <a href="/activity/{{ activity.id }}" 
              class='
                block rounded transition duration-100
                {{ runColors.text }}
                {{ runColors.bg }}
                {{ runColors.bgHover }}
              '>
              <span>{{ activity.miles() }}</span>
              <span class='uppercase text-xs'>mi</span>
            </a>
          {% endif %}
        {% endfor %}

        <div class='absolute top-0 left-0 block bg-gray-400 w-8 text-white rounded-br'>
          {{ loop.index }}
        </div>
      </div>
    {% endfor %}
  </div>
</section>