---
layout: layouts/base
pagination:
  data: activityMonthUrls
  size: 1
  alias: activityMonthUrl
permalink: "{{ activityMonthUrl }}/index.html"
---
{% import 'macros/stats.njk' as stats %}
{% import 'macros/calendar.njk' as calendar %}

{% set year = activityMonthUrl | split('/') | first %}
{% set month = activityMonthUrl | split('/') | last %}
{% set activitesInMonth = activities|activitiesByMonth(activityMonthUrl) %}
{% set activitiesInYear = activities|activitiesByYear(year) %}

<section class='h-48 flex items-center'>
  <h1 class='font-semibold text-4xl'>
    Activity from <span class='text-strava'>{{ monthMap[month].long }}</span> {{ year }}
  </h1>
</section>

{{ stats.wrapper(activitesInMonth.stats(), "in " + monthMap[month].short + " " + year ) }}

<nav class='py-8'>
  <h2 class='font-semibold text-2xl mb-8'>Month:</h2>
  <div class='grid grid-cols-6 gap-6'>
    {% for monthIndex in activitiesInYear.months() %}
      {% set calendarUrl = "/" + year + "/" + monthIndex + "/" %}
      <a 
        href="{{ calendarUrl }}" 
        class='
          col-span-1 bg-white p-2 shadow text-center transform duration-100 rounded
          hover:-translate-y-1 hover:shadow-lg
          {% if calendarUrl === page.url %}
            bg-indigo-400 text-white hover:bg-indigo-600
          {% else %}
            bg-white text-indigo-400 hover:text-indigo-600
          {% endif %}'
      >
        <span class='font-semibold uppercase text-sm'>{{ monthMap[monthIndex].short }}</span>
      </a>
    {% endfor %}
  </div>
</nav>

{# TODO: Get the actual activites/day showing up #}
<section class='bg-white shadow rounded p-8 mt-16'>
  {{ calendar.days(7) }}
  {{ calendar.seperator() }}
  {% set month = activitesInMonth.calendar() %}
  <div class='grid grid-cols-7 gap-2'>
    {% for day in range(1, month.daysInMonth + 1) %}
      {% if loop.first %}
        <div class='col-start-{{ month.firstDayOfMonth | int  }} text-center'>
          {{ day }}
        </div>
      {% else %}
        <div class='col-span-1 text-center'>
          {{ day }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>